.card-body{
    background-color:black;
}
.card-title{
    color:white;
}
.card-text{
    color:white;
}

.col-sm{
    padding-top:50px;
}
.container{
    height:500vh;
    background-color:black;
}
li{
    color:white;
    list-style:none;
}
ul{
    color:white;
}
h1{
    color:white;
}
a{
    text-align:center;
}
.btn{
    text-align:center;
}
p{
color: white;

}