.container{
    height:500vh;
    background-color:black;
    color:white;
}
li{
    
    text-align:center;
    list-style:none;
    
}

ul{
    text-align:center;
}
audio{
    margin-bottom:80px;
}
h1{
    margin-bottom:50px;
}